{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" placeholder="הזן שם משתמש" />
        <label>Password:</label>
        <input type="password" name="password" placeholder="הזן סיסמה" />
        <input type="submit" value="Login" />

    </form>

    <p>havent signed up yet?</p>
    <a href="{% url 'register' %}">הירשם למערכת</a>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="הירשם" />

    </form>

    <p>?כבר רשום למערכת</p>
    <a href="{% url 'login' %}">התחבר</a>
</div>
{% endif %}

{% endblock content %}